@model ShoppingCartViewModel


<h2> Your shopping Cart</h2>
<h2> Here is your Dessert Selection Cart.</h2>
<table class=" table table-bordered table-striped">
    <thead>
        <tr>
            <th>Selected Amount</th>
            <th>Dessert</th>
            <th class="text-right">Price</th>
            <th class="text-right">SubTotal</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
        {
            <tr>
                <td class="text-center">@line.Amount</td>
                <td class="text-left">@line.Dessert.Name</td>
                <td class="text-right">@line.Dessert.Price.ToString("c")</td>
                <td class="text-right">
                    @((line.Amount * line.Dessert.Price).ToString("c"))
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total</td>
            <td class="text-right">
                @Model.ShoppingCartTotal.ToString("c")
            </td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
<a class="btn btn-primary" asp-controller="Order" asp-action="Checkout">Check out now!</a>
</div>
